*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Metropolis Medium";
    src: url(../font/Metropolis-Medium.otf);
}
@font-face {
    font-family: "Metropolis Black";
    src: url(../font/Metropolis-Black.otf);
}

body{
    background-color: #121212;
    width: 100%;
    overflow-x: hidden;
}

/****************************************** DESKTOP ********************************************/

/* HEADER DESKTOP */

/* header desktop div */
.header__desktop--background{
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 4.5rem;
    backdrop-filter: blur(140px);
    background: linear-gradient(126.6deg, rgba(255, 255, 255, 0.09) 28.69%, rgba(255, 255, 255, 0) 100%);
}
/* header desktop logo */
.header__desktop--div-logo{
    width: 22.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header__desktop--logo{
    width: 11rem;
}
/* nav desktop */
.nav__desktop--div{
    width: 55vw;
    display: flex;
}
.nav__desktop--ul{
    width: 96%;
    display: flex;
    list-style: none;
    flex-direction: row;
    position: relative;
    top: 0.55rem;
    align-items: center;
}
.nav__desktop--li{
    text-align: center;
    width: 100%;
}
.nav__desktop--a{
    font-family: 'Metropolis Medium';
    color: white;
    font-size: 1.1rem;
    transition: 0.3s;
    text-decoration: none;
}
.nav__desktop--a:hover{
    color: #AB2123;
    text-decoration: none;
}
.nav__desktop--a-inicio{
    position: relative;
    left: 2.5vw;
}
.nav__desktop--a-productos{
    position: relative;
    left: 0.8vw;
}
.nav__desktop--a-que-hacemos{
    position: relative;
    left: 0.4vw;
}
.nav__desktop--a-equipo{
    position: relative;
    left: 1.1vw;
}
.nav__desktop--a-aliados{
    position: relative;
    left: 0.7vw;
}
.li-active-desktop{
    color: #AB2123;
    font-family: 'Metropolis Medium';
    font-size: 1.1rem;
    text-decoration: none;
}
/* header redes */
.header__desktop--div-redes{
    width: 22.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header__desktop--redes-flex{
    width: 9rem;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header__desktop--btn-facebook{
    text-decoration: none;
    width: 3rem;
    height: 2.4rem;
    align-items: center;
    border-radius: 50%;
    border: 1px solid white;
    color: white;
    font-size: 1.3rem;
    transition: 0.2s;
    display: flex;
    justify-content: center;
}
.header__desktop--btn-facebook:hover{
    border: #AB2123 1px solid;
    color: #AB2123;
}
.header__desktop--btn-instagram{
    text-decoration: none;
    width: 3rem;
    margin-left: 1rem;
    margin-right: 1rem;
    height: 2.4rem;
    font-size: 1.3rem;
    align-items: center;
    border-radius: 50%;
    border: 1px solid white;
    color: white;
    display: flex;
    transition: 0.2s;
    justify-content: center;
}
.header__desktop--btn-instagram:hover{
    border: #AB2123 1px solid;
    color: #AB2123;
}
.header__desktop--btn-twiter{
    text-decoration: none;
    display: flex;
    justify-content: center;
    width: 3rem;
    color: white;
    font-size: 1.3rem;
    height: 2.4rem;
    transition: 0.2s;
    align-items: center;
    border-radius: 50%;
    border: 1px solid white;
}
.header__desktop--btn-twiter:hover{
    border: #AB2123 1px solid;
    color: #AB2123;
}
.header__mobile--background{
    display: none;
}

/* SECCIONES DESKTOP */

.main-desktop{
    height: 303rem;
}
.seccion-inicio{
    height: 36.3rem;
}
.seccion-productos{
    height: 53.3rem;
}
.seccion-que-hacemos{
    height: 59rem;
}
.seccion-equipo{
    height: 74.3rem;
}
.seccion-aliados{
    height: 31rem;
}
.seccion-form{
    height: 49rem;
}

/* Icon whatsapp */

.div-whatsapp-btn{
    position: relative;
    left: 93vw;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 88vh;
    width: 3rem;
    height: 3rem;
    z-index: 3;
    border-radius: 50%;
    background-color: #1fbb58;
    transition: 0.3s;
    box-shadow: 0px 12px 15px rgba(0, 0, 0, 0.3);
}
.div-whatsapp-btn:hover{
    background-color: #25D366;
}
.a-btn-whatsapp{
    font-size: 2.2rem;
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.a-btn-whatsapp:hover{
    color: rgb(255, 255, 255);
}

/* FOOTER DESKTOP */

.footer__container{
    height: 22rem;
    width: 100%;
    background: linear-gradient(0deg, rgba(243, 244, 245, 0.15), rgba(243, 244, 245, 0.15)), #AB2123;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 85% 15%;
    grid-template-areas: 
                        "footer__div--apoyarnos footer__div--contactanos"
                        "footer__div--copyright footer__div--copyright";
}
.footer__div--apoyarnos{
    grid-area: "footer__div--apoyarnos";
    display: flex;
    height: 18.6rem;
    justify-content: flex-start;
    flex-direction: column;
}
.footer__apoyarnos--h3{
    position: relative;
    margin-top: 3rem;
    left: 13vw;
    font-family: 'Metropolis Black';
    font-size: 2rem;
    text-align: center;
    color: #F3F4F5;
    width: 13rem;
}
.footer__div--redes{
    position: relative;
    margin-top: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12.5rem;
    left: 13vw;
}
.footer__redes--a{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25vw;
}
.footer__redes--icon{
    width: 2.2rem;
    transition: 0.3s;
}
.footer__redes--icon:hover{
    filter: invert(98%) sepia(100%) saturate(1%) hue-rotate(150deg) brightness(107%) contrast(101%);
}
.footer__logo--desktop{
    position: relative;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12.5rem;
    left: 13vw;
}
.footer__div--contactanos{    
    grid-area: "footer__div--contactanos";
    display: flex;
    height: 18.6rem;
    flex-direction: column;
    align-items: flex-end;
}
.footer__contactanos--h3{
    font-family: 'Metropolis Black';
    position: relative;
    margin-top: 3rem;
    right: 13.7vw;
    height: 2rem;
    font-size: 2rem;
    color: #F3F4F5;
    width: 13rem;
}
.footer__div--datos{
    position: relative;
    right: 13vw;
    height: 10rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 15rem;
}
.footer__datos--div-email{
    display: flex;
    flex-direction: row;
    align-items: start;
}
.footer__datos--div-number{
    display: flex;
    align-items: start;
    flex-direction: row;
}
.footer__datos--div-location{
    align-items: start;
    display: flex;
    flex-direction: row;
}
.footer__datos--p-e{
    color: white;
    font-family: 'Metropolis Medium';
    margin-left: 0.65rem;
}
.footer__datos--p-n{
    color: white;
    font-family: 'Metropolis Medium';
    margin-left: 0.5rem;
}
.footer__datos--p-l{
    color: white;
    font-family: 'Metropolis Medium';
    margin-left: 0.7rem;
}
.footer__datos--img-l{
    margin-left: 0.25rem;
}
.footer__div--copyright{
    grid-area: "footer__div--copyright";
    display: flex;
    width: 200%;
    justify-content: center;
}
.footer__copyright--p{
    text-align: center;
    font-family: 'Metropolis Medium';
    font-size: 1rem;
    color: #333333;
}
.footer__forma--1{
    position: absolute;
    margin-top: 14rem;
}
.footer__forma--2{
    width: 2rem;
    margin-left: 42%;
    position: absolute;
    justify-self: flex-start;
}
.footer__forma--3{
    position: absolute;
    justify-self: end;
    align-self: flex-end;
}
.footer__logo--mobile{
    display: none;
}

/* header 900px */

@media screen and (max-width:991px){

    
    .header__mobile--background{
        display: none;
    }

    .nav__desktop--a-inicio{
        position: relative;
        left: 0;
    }
    .nav__desktop--a-productos{
        position: relative;
        left: 0;
    }
    .nav__desktop--a-que-hacemos{
        position: relative;
        left: 0.5vw;
    }
    .nav__desktop--a{
        font-size: 1rem;
        transition: 0.3s;
        text-decoration: none;
    }
    .div-whatsapp-btn{
        left: 89vw;
        top: 87vh;
        width: 3rem;
        height: 3rem;
        box-shadow: 0px 12px 15px rgba(0, 0, 0, 0.3);
    }
    .footer__forma--2{
        width: 2rem;
        margin-left: 35%;
        position: absolute;
        justify-self: flex-start;
    }
    .footer__contactanos--h3{
        right: 13.7vw;
    }
    .footer__div--datos{
        right: 11.5vw;
    }
}

/**************************************** MOBILE - TABLET ******************************************/

@media screen and (max-width:786px){

    /* HEADER MOBILE */

    .header__desktop--background{
        visibility: hidden;
        opacity: 0;
    }

    .header__mobile--background{
        display: flex;
        width: 100%;
        flex-direction: row;
        height: 3.5rem;
        background-color: #121212;
    }

    /* mobile menu */

    .header__mobile--div-menu{
        width: 22.5vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .header__mobile--btn-menu{
        border: none;
        background-color: rgba(0, 0, 0, 0);
    }
    .header__mobile--icon-menu{
        width: 1.2rem;
    }

    /* nav mobile menu */

    .nav__mobile--container-nav{
        position: fixed;
        left: 0;
        top: 3.5rem;
        background-color: #0000003d;
        visibility: hidden;
        opacity: 0;
        width: 100vw;
        z-index: 1;
        height: 100vh;
        transition: 0.5s all ease-in;
    }
    .nav__mobile--active{
        visibility: visible;
        opacity: 1;
    }
    .nav__mobile--div-menu{
        position: relative;
        left: 0;
        z-index: 2;
        width: 18rem;
        height: 24rem;
        background-color: #232323;
        display: flex;
        flex-direction: column;
        border-bottom-right-radius: 1rem;
        border-top-right-radius: 1rem;
    }
    .nav__mobile--btn-close{
        width: 5rem;
        height: 3rem;
        background-color: rgba(0, 0, 0, 0);
        border: none;
    }
    .nav__mobile--icon-close{
        width: 1.05rem;
    }
    .nav__mobile--flex{
        display: flex;
        position: relative;
        width: 100%;
        height: 65%;
        justify-content: center;
        list-style: none;
        flex-direction: column;
        left: 0.3rem;
    }
    .nav__mobile--li{
        font-size: 1.6rem;
    }
    .nav__mobile--a{
        font-family: 'Metropolis Medium';
        font-size: 1rem;
        text-decoration: none;
        color: white;
    }
    .nav__mobile--a:hover{
        color: #AB2123;
        text-decoration: none;
    }
    .li-active-mobile{
        color: #AB2123;
        font-family: 'Metropolis Medium';
        font-size: 1rem;
        text-decoration: none;
    }
    .nav__mobile--forma{
        position: relative;
        width: 5.5rem;
    }

    /* header redes mobile */
    
    .header__mobile--div-redes{
        position: relative;
        left: 0;
        width: 15rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .header__mobile--redes-flex{
        width: 9rem;
        height: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .header__mobile--btn-facebook{
        width: 2.8rem;
        height: 2.2rem;
    }
    .header__mobile--btn-instagram{
        width: 2.8rem;
        height: 2.2rem;
    }
    .header__mobile--btn-twiter{
        width: 2.8rem;
        height: 2.2rem;
    }
    .header__mobile--btn-cafecito{
        width: 2.8rem;
        height: 2.2rem;
    }

    /* header mobile logo */

    .header__mobile--div-logo{
        width: 55vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .header__mobile--logo{
        width: 8.5rem;
    }

    /* SECCIONES MOBILE */

    .main-mobile{
        height: 274.4rem;
    }
    .seccion-inicio{
        height: 36.3rem;
    }
    .seccion-productos{
        height: 79.5rem;
    }
    .seccion-que-hacemos{
        height: 65rem;
    }
    .seccion-equipo{
        height: 42rem;
    }
    .seccion-aliados{
        height: 15rem;
    }
    .seccion-form{
        height: 36.5rem;
    }

    /* Icon whatsapp */

    .div-whatsapp-btn{
        left: 80vw;
        top: 89vh;
        width: 2.8rem;
        height: 2.8rem;
        box-shadow: 0px 12px 15px rgba(0, 0, 0, 0.3);
    }
    .div-whatsapp-btn:hover{
        background-color: #25D366;
    }
    .a-btn-whatsapp{
        font-size: 2rem;
        color: rgb(255, 255, 255);
        text-decoration: none;
    }
    .a-btn-whatsapp:hover{
        color: rgb(255, 255, 255);
    }

    /* FOOTER MOBILE */

    .footer__container{
        height: 35rem;
        width: 100%;
        background: linear-gradient(0deg, rgba(243, 244, 245, 0.15), rgba(243, 244, 245, 0.15)), #AB2123;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 35% 30% 13% 22%;
        grid-template-areas: 
                            "footer__div--apoyarnos"
                            "footer__div--contactanos"
                            "footer__logo--mobile"
                            "footer__div--copyright";
    }
    .footer__div--apoyarnos{
        grid-area: "footer__div--apoyarnos";
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }
    .footer__apoyarnos--h3{
        margin-top: 0;
        width: 70%;
        position: relative;
        font-family: 'Metropolis Black';
        left: 15%;
        font-size: 1.3rem;
        text-align: center;
        color: #F3F4F5;
    }
    .footer__div--redes{
        position: relative;
        left: 20%;
        width: 60%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .footer__redes--a{
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .footer__redes--icon{
        width: 2.2rem;
        transition: 0.3s;
    }
    .footer__redes--icon:hover{
        filter: invert(98%) sepia(100%) saturate(1%) hue-rotate(150deg) brightness(107%) contrast(101%);
    }
    .footer__logo--desktop{
        display: none;
    }
    .footer__logo--mobile{
        grid-area: "footer__logo--mobile";
        display: flex;
        visibility: visible;
        opacity: 1;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .footer__div--contactanos{    
        grid-area: "footer__div--contactanos";
        display: flex;
        height: 10rem;
        flex-direction: column;
        justify-content: center;
    }
    .footer__contactanos--h3{
        font-family: 'Metropolis Black';
        margin-top: 1.3rem;
        font-size: 1.3rem;
        color: #F3F4F5;
        text-align: center;
        position: relative;
        right: 0;
        width: 100%;
    }
    .footer__div--datos{
        height: 10rem;
        right: 10%;
        margin-top: 0.5rem;
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 80%;
    }
    .footer__datos--div-email{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: start;
    }
    .footer__datos--div-number{
        display: flex;
        align-items: start;
        justify-content: center;
        flex-direction: row;
    }
    .footer__datos--div-location{
        align-items: start;
        display: flex;
        justify-content: center;
        flex-direction: row;
    }
    .footer__datos--p-e{
        color: white;
        font-family: 'Metropolis Medium';
        font-size: 0.8rem;
        margin-left: 0.65rem;
    }
    .footer__datos--p-n{
        color: white;
        font-size: 0.8rem;
        font-family: 'Metropolis Medium';
        margin-right: 3rem;
    }
    .footer__datos--p-l{
        color: white;
        font-size: 0.8rem;
        font-family: 'Metropolis Medium';
        margin-right: 0.2rem;
    }
    .footer__datos--img-l{
        margin-left: 0.25rem;
    }
    .footer__div--copyright{
        grid-area: "footer__div--copyright";
        display: flex;
        position: relative;
        left: 10%;
        width: 80%;
        justify-content: center;
    }
    .footer__copyright--p{
        text-align: center;
        font-family: 'Metropolis Medium';
        font-size: 0.9rem;
        color: #333333;
    }
    .footer__forma--1{
        position: absolute;
        margin-top: 30.1rem;
    }
    .footer__forma--2{
        position: absolute;
        left: 30%;
    }
    .footer__forma--3{
        position: absolute;
        justify-self: end;
        align-self: flex-end;
    }
    .footer__formas--width{
        width: 6rem;
    }

    @media screen and (min-width:575px) and (max-width:786px){
        /* Icon whatsapp */

        .div-whatsapp-btn{
            left: 88vw;
        }
        .footer__copyright--p{
            text-align: center;
            font-family: 'Metropolis Medium';
            position: relative;
            top: 1rem;
            font-size: 1rem;
            color: #333333;
        }
        .footer__forma--1{
            position: absolute;
            margin-top: 30.1rem;
        }
    }
}
